{% extends "base.html" %}

{% load static %}

{% block title %}Change password{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <form class="registration-form" action="" method="post">
        {% csrf_token %}
		<h2>Reset your password</h2>
        {% if form.email.errors %}
            <p class="errorlist">{{ form.email.errors }}</p>
        {% endif %}
        <table>
            <tr>
                <td>Please enter your email:</td>
                <td class="text-input">{{ form.email }}</td>
            </tr>
        </table>
        <input class="submit-btn" type="submit" value="Reset password">
    </form>
{% endblock %}