{% extends 'base.html' %}

{% load static %}

{% block title %}Weather in capitals{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/weather.css' %}">
    <link rel="stylesheet" href="{% static 'css/capitals.css' %}">

    <section class="capitals-page">
        <h2 class="capitals-page-title">The weather in world capitals:</h2>
        {% for capital, value in capitals.items %}
            {% include 'capital-weather.html' %}
        {% endfor %}
    </section>
    
{% endblock content %}