<div class="weather">
    <div class="location">
        <h1 class="location-name">{{ location }}</h1>
        <p class="localtime">{{ localtime }}</p>
        <p class="temperature">{{ temperature|floatformat }}°C</p>
    </div>
    <fieldset class="weather-box center-horizontal condition">
        <legend class="box-title">Condition</legend>
        <img class="condition-description-icon" src="{{ icon }}" />
        <p class="condition-description">{{ condition }} </p>
        <i class="fa-solid fa-temperature-half feels-like-icon"></i>
        <p class="feels-like">Feels like <span class="feels-like-tmp">{{ feels_like }}°C</span></p>
    </fieldset>
    <fieldset class="weather-box center-horizontal wind">
        <legend class="box-title">Wind</legend>
        <i class="fa-solid fa-wind item-icon"></i>
        <p class="wind-speed">{{ wind }} <span class="wind-speed-unit">km/h</span></p>
        <i class="fa-regular fa-compass item-icon-2"></i>
        <p class="wind-direction">{{ wind_direction }}</p>
    </fieldset>
    <fieldset class="weather-box center-horizontal uv">
        <legend class="box-title">UV Index</legend>
        <i class="fa-solid fa-umbrella-beach item-icon"></i>
        {% if uv_index == 1 or uv_index == 2 %}
            <p class="uv-index uv-low">{{ uv_index }} (Low)</p>
        {% elif uv_index == 3 or uv_index == 4 or uv_index == 5 %}
            <p class="uv-index uv-moderate">{{ uv_index }} (Moderate)</p>
        {% elif uv_index == 6 or uv_index == 7 %}
            <p class="uv-index uv-high">{{ uv_index }} (High)</p>
        {% elif uv_index == 8 or uv_index == 9 or uv_index == 10 %}
            <p class="uv-index uv-very-high">{{ uv_index }} (Very High)</p>
        {% else %}
            <p class="uv-index uv-extreme">{{ uv_index }} (Extreme)</p>
        {% endif %}
    </fieldset>
    <fieldset class="weather-box center-horizontal humidity">
        <legend class="box-title">Humidity</legend>
        <i class="fa-solid fa-water item-icon"></i>
        <p class="humidity-percentage">{{ humidity }}<span class="percentage">%</span></p>
    </fieldset>
    <fieldset class="weather-box center-horizontal air-quality">
        <legend class="box-title">Air quality</legend>
        <i class="fa-solid fa-head-side-mask item-icon"></i>
        {% if air_quality == 1 %}
            <p class="air-quality-index q-good">Good</p>
        {% elif air_quality == 2 %}
            <p class="air-quality-index q-moderate">Moderate</p>
        {% elif air_quality == 3 %}
            <p class="air-quality-index q-unhealthy-sensitive">Unhealthy for sensitive group</p>
        {% elif air_quality == 4 %}
            <p class="air-quality-index q-unhealthy">Unhealthy</p>
        {% elif air_quality == 5 %}
            <p class="air-quality-index q-very-unhealthy">Very Unhealthy</p>
        {% elif air_quality == 6 %}
        <p class="air-quality-index q-hazardous">Hazardous</p>
        {% endif %}
    </fieldset>
    <fieldset class="weather-box center-horizontal astronomy">
        <legend class="box-title">Sunrise/Sunset</legend>
        <i class="fa-regular fa-sun sunrise item-icon"></i>
        <p class>{{ sunrise }}</p>
        <i class="fa-solid fa-sun sunset item-icon-2"></i>
        <p class>{{ sunset }}</p>
    </fieldset>
    <fieldset class="weather-box center-horizontal forecast">
        <legend class="box-title">Today's forecast</legend>
        {% for day in forecast|slice:":1" %}
            <div class="hours">
                {% for hour in day.hour %}
                    <div class="hour-weather-box">
                        <p class="hour">{{ hour.time|slice:"-5:-3" }}</p>
                        <img class="condition-description-icon" src="{{ hour.condition.icon }}" 
                        {% if "night" in hour.condition.icon and "113" in hour.condition.icon %}
                            style="width: 44px; margin: 0 -5px;"
                        {% elif "113" in hour.condition.icon %}
                            style="width: 34px; padding: 5px 0;"
                        {% else %}
                            style="padding: 9px 0;"
                        {% endif %} />
                        <p>{{ hour.temp_c|stringformat:"d"|slice:":3" }}°C</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
    <fieldset class="weather-box center-horizontal forecast-3-day">
        <legend class="box-title">3-day forecast</legend>
        {% for day in forecast %}
            <div class="forecast-day">
                <p class="day-name">
                    {% if forloop.counter == 1 %}
                        Today
                    {% elif forloop.counter == 2 %}
                        {{ forecast_days.0 }}
                    {% elif forloop.counter == 3%}
                        {{ forecast_days.1 }}
                    {% endif %}
                </p>
                <img class="condition-description-icon" src="{{ day.day.condition.icon }}" 
                {% if "night" in day.day.condition.icon and "113" in day.day.condition.icon %}
                    style="width: 44px;"
                {% elif "113" in day.day.condition.icon %}
                    style="width: 34px; padding: 5px 0;"
                {% else %}
                    style="padding: 9px 0;"
                {% endif %} />
                <p>{{ day.day.mintemp_c|stringformat:"d"|slice:":3" }}°C / {{ day.day.maxtemp_c|stringformat:"d"|slice:":3" }}°C</p>
            </div>
        {% endfor %}
    </fieldset>
</div>