{% extends 'base.html' %}

{% load static %}

{% block title %}Weather in your favorite cities{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/weather.css' %}">
    <link rel="stylesheet" href="{% static 'css/favorites.css' %}">

    <section class="favorites-page">
        <h2 class="favorites-page-title">The weather in your favorite cities:</h2>
        {% for city, value in favorites.items %}
            {% include 'favorite-weather.html' %}
        {% endfor %}
    </section>
    
{% endblock content %}