{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Django Weather Api</title>
    </head>
    <body>
        <nav class="main-nav">
            <ul class="menu">
                <li><a title="Home" class="menu-logo" href="{% url 'home' %}"><i class="fa-solid fa-temperature-full"></i></a></li>
                <div class="nav-buttons">
                    <li><a title="Search location" class="menu-btn" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a title="My favorite places" class="menu-btn" href="#"><i class="fa-regular fa-heart"></i></a></li>
                    <li><a title="Capitals" class="menu-btn" href="#"><i class="fa-solid fa-earth-americas"></i></a></li>
                    <li><a title="Random city" class="menu-btn" href="#"><i class="fa-solid fa-shuffle"></i></a></li>
                </div>
            </ul>
        </nav>

        <section class="container">
            <div class="weather">
                <div class="location">
                    <h1 class="location-name">{{ location }}</h1>
                    <p class="localtime">{{ localtime }}</p>
                    <p class="temperature">{{ temperature|floatformat }}°C</p>
                </div>
                <fieldset class="weather-box condition">
                    <legend class="box-title">Condition</legend>
                    <img class="condition-description-icon" src="{{ icon }}" />
                    <p class="condition-description">{{ condition }} </p>
                    <i class="fa-solid fa-temperature-half feels-like-icon"></i>
                    <p class="feels-like">Feels like <span class="feels-like-tmp">{{ feels_like }}°C</span></p>
                </fieldset>
                <fieldset class="weather-box wind">
                    <legend class="box-title">Wind</legend>
                    <i class="fa-solid fa-wind wind-speed-icon"></i>
                    <p class="wind-speed">{{ wind }} <span class="wind-speed-unit">km/h</span></p>
                    <i class="fa-regular fa-compass wind-direction-icon"></i>
                    <p class="wind-direction">{{ wind_direction }}</p>
                </fieldset>
                <fieldset class="weather-box uv">
                    <legend class="box-title">UV Index</legend>
                    <i class="fa-regular fa-sun uv-icon"></i>
                    <p class="uv-index">{{ uv_index }}</p>
                </fieldset>
                <fieldset class="weather-box humidity">
                    <legend class="box-title">Humidity</legend>
                    <i class="fa-solid fa-water humidity-icon"></i>
                    <p class="humidity-percentage">{{ humidity }}<span class="percentage">%</span></p>
                </fieldset>
            </div>
            {% comment %} <form class="search-form" action="{% url 'search' %}" method="GET">
                <div class="form-input-group">
                    <label for="city">Search city:</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="form-action-group">
                    <input type="submit" class="search-btn" value="Search">
                </div>
            </form> {% endcomment %}
        </section>
    </body>
</html> 