{% extends 'base.html' %}

{% load static %}

{% block title %}Search location{% endblock title %}Search location

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <section class="search-page">
        <form class="search-form" action="{% url 'search' %}" method="GET">
            <div class="search-form-input-group">
                <label for="city">How is the weather in</label>
                <input class="search-input" type="text" id="city" name="city" required>
                <label for="city">?</label>
            </div>
            <div class="search-form-action-group">
                <input type="submit" class="search-btn" value="CHECK IT">
            </div>
        </form>

        {% if search %}
            <div class="weather">
                <div class="location">
                    <h1 class="location-name">{{ location }}</h1>
                    <p class="localtime">{{ localtime }}</p>
                    <p class="temperature">{{ temperature|floatformat }}°C</p>
                </div>
                <fieldset class="weather-box condition">
                    <legend class="box-title">Condition</legend>
                    <img class="condition-description-icon" src="{{ icon }}" />
                    <p class="condition-description">{{ condition }} </p>
                    <i class="fa-solid fa-temperature-half feels-like-icon"></i>
                    <p class="feels-like">Feels like <span class="feels-like-tmp">{{ feels_like }}°C</span></p>
                </fieldset>
                <fieldset class="weather-box wind">
                    <legend class="box-title">Wind</legend>
                    <i class="fa-solid fa-wind wind-speed-icon"></i>
                    <p class="wind-speed">{{ wind }} <span class="wind-speed-unit">km/h</span></p>
                    <i class="fa-regular fa-compass wind-direction-icon"></i>
                    <p class="wind-direction">{{ wind_direction }}</p>
                </fieldset>
                <fieldset class="weather-box uv">
                    <legend class="box-title">UV Index</legend>
                    <i class="fa-regular fa-sun uv-icon"></i>
                    <p class="uv-index">{{ uv_index }}</p>
                </fieldset>
                <fieldset class="weather-box humidity">
                    <legend class="box-title">Humidity</legend>
                    <i class="fa-solid fa-water humidity-icon"></i>
                    <p class="humidity-percentage">{{ humidity }}<span class="percentage">%</span></p>
                </fieldset>
            </div>
        {% endif %}
    </section>
    
{% endblock content %}