{% extends 'base.html' %}

{% load static %}

{% block title %}Search location{% endblock title %}Search location

{% block content %}
    <link rel="stylesheet" href="{% static 'css/weather.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <section class="search-page">
        <form class="search-form" action="{% url 'search' %}" method="GET">
            <div class="search-form-input-group">
                <label for="city">How is the weather in</label>
                <input class="search-input" type="text" id="city" name="city" required>
                <label for="city">?</label>
            </div>
            <div class="search-form-action-group">
                <input type="submit" class="search-btn" value="CHECK IT">
            </div>
        </form>

        {% if search %}
            <h2 class="search-page-title">Search results:</h2>
            {% include 'city-weather.html' %}
        {% endif %}
    </section>
    
{% endblock content %}